.idea
.classpath
.project
.settings
web/null/
target
*.iml
/out/
*.DS_Store
/web/chromedriver.log
/web/.gradle/
test
web/*.sql
web/*.db
web/*.log
application.properties
grailsw
grailsw.bat
web-app/WEB-INF